<form [ngFormModel]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
  <br>
  <div>
    <label>First Name:</label>
    <input placeholder="first name"
      [ngFormControl]="contactForm.controls['firstName']"
      [(ngModel)]="contact.firstName"/>
  </div>
  <div>
    <label>Last Name:</label>
    <input placeholder="last name"
      [ngFormControl]="contactForm.controls['lastName']"
      [(ngModel)]="contact.lastName"/>
  </div>
  <div>
    <label>Phone Number:</label>
    <input placeholder="phone"
      [ngFormControl]="contactForm.controls['phone']"
      [(ngModel)]="contact.phone"/>
  </div>
  <div>
    <label>Email Address:</label>
    <input placeholder="email"
      [ngFormControl]="contactForm.controls['email']"
      [(ngModel)]="contact.email"/>
  </div>
  <br>
  <button type="submit">Save</button>
  <button type="button" (click)="cancel()">Cancel</button>
</form>
